*, :after, :before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  min-height: 100%;
}

body, button, div, fieldset, form, h1, h2, h3, h4, h5, h6, html, input, label, legend, p, select, textarea {
  margin: 0;
  padding: 0;
  line-height: 20px;
}

.navbar {
  padding: 0px; 
  height: 65px; 
  background-color: white; 
  box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px;
}

.fixed-bottom, .fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

.page-content {
  width: 560px;
  padding: 65px 42px 32px;
}

.page-content h3 {
  padding-top: 56px;
  color: #1c1e27;
  line-height: 32px;
}

.page-content .signup-or-container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.page-content .signup-or-container .signup-border {
  border-top: 1px solid #ccced7;
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
}

.page-content .signup-or-container span {
  display: inline-block;
  background: #fff;
  color: #ccced7;
  position: relative;
  z-index: 2;
  padding: 0 12px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
}

.page-content .login-options {
  margin-top: 10px;
}

.form-group {
  margin-bottom: 1rem;
}

.position-relative {
  position: relative!important;
}

.form-control-lg {
  height: calc(2.875rem + 2px);
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(2.0625rem + 2px);
  padding: .375rem .75rem;
  font-size: .875rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}