*, :after, :before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  text-align: left;
  min-height: 100%;
}

body, button, div, fieldset, form, h1, h2, h3, h4, h5, h6, html, input, label, legend, p, select, textarea {
  margin: 0;
  padding: 0;
  line-height: 20px;
}

a:is(:link, :active, :visited).active {
  color: #343a40;
}

.navbar a {
  color: #fff;
  font-weight: bold;
}

.navbar a:hover {
  color: #343a40;
}

#signin:hover {
  background-color: #6c757d!important;
  color: #fff;
}

.signin-enabled {
  background-color: #28a745!important;
  color: #fff;
}

.signup-or-container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.signup-or-container .signup-border {
  border-top: 1px solid #ccced7;
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
}

.signup-or-container span {
  display: inline-block;
  background: #fff;
  color: #ccced7;
  position: relative;
  z-index: 2;
  padding: 0 12px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
}